@model EditionDetailModel

@{
    ViewBag.Title = "Firma Ekle/Düzenle";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";

    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
}
<div class="box box-block bg-white">

    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {
        <form>
            <div class="form-group">
                @Html.LabelFor(p => p.Name)
                @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Yayın Türü")
                @Html.DropDownListFor(p => p.EditionTypeId, Model.EditionTypeList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Adress)
                @Html.TextBoxFor(p => p.Adress, new { @class = "form-control" })
            </div>
          
            @Html.HiddenFor(p => p.Id)
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    }
</div>